@charset "utf-8";
body {
    color: #222222;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0px;
}
#wrapper {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #4E9C93;
}
figure {
    display: block;
    float: left;
    -webkit-box-shadow: 0px 1px 14px rgba(96,96,96,0.50);
    box-shadow: 0px 1px 14px rgba(96,96,96,0.50);
}
.price {
    font-weight: bold;
    font-size: 125%;
}
hr {
    width: 40%;
    display: block;
    color: #D3D3D3;
    background-color: #D3D3D3;
    height: 2px;
    border-style: none;
}
fieldset {
    width: 35%;
    margin-bottom: 1em;
}
